{{ define "section" }}
<section class="blogs">
  <h2>{{ .Title | markdownify }}</h2>
  <div class="blog-grid">
    {{ range .Pages }}
      <a href="{{ .Permalink }}" class="blog-card-link">
        <div class="blog-card">
          <div class="blog-content">
            <div class="blog-image">
              <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}" />
            </div>
            <div class="blog-text">
              <h3 style="text-align: center !important;">{{ .Title | markdownify }}</h3>
              <p style="text-align: left !important;">{{ .Params.description | markdownify }}</p>
              <!-- <div class="blog-data">
                <p>{{ .Params.extra_text | markdownify }}</p>
              </div> -->
            </div>
          </div>
        </div>
      </a>
    {{ end }}
  </div>
</section>
{{ end }}